.settingpart .row{
    padding-top: 30px;
}

li
{
    list-style: none;
}
.rightside {
    padding-left: 0;
}
.leftside-set{
    padding: 0;
    list-style: none;
}
.leftside-set .active{
    background-color: #2f2f2f;
}
.basicset-right tr{
    margin: 0 2px;
    border-bottom: 1px solid;
}
.settingpart li{
    line-height: 20px;
    margin: 0 2px;
}
.settingpart li a{
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
    display: block;
}
.settingpart .setting-icon{
    margin-left: 22px;
    color: #a3cf62;;
    background-color: rgba(160, 160, 160, 0.36);
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.setting-icon i{
    display: block;
    padding: 6px 0 0 1px;
    font-size: 18px;
}
.leftside-set span{
    padding-left: 20px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    color: #c8c8c8;
}
.basicset-right{
    /*border: 1px solid;*/
}
.rightside table{
    width: 100%;
    background-color: transparent;
}
.basicset-right td{
    padding: 20px 0;
}
.toptd{
    padding-top: 0!important;
}
.toptd div{
    width: 100px;
    height: 100px;
    display: block;
}
.toptd div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.setting-head{
    width: 150px;
}
.btn-hollow{
    font-size: 14px;
    border: 1px solid rgba(59,194,29,.7);
    color: #42c02e!important;
}
.settingpart .rightside input[type=text] {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #2f2f2f;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
}
.settingpart .setting-title{
    font-size: 16px;
    color: #969696;
}
.settingpart .rightside input[type=email] {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #2f2f2f;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    width: 300px;
}
.button-send{
    background-color: transparent;
    margin-left: 20px;
}
.setting-phone div{
    color: #c8c8c8;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}

.setting-phone span{
    color: #969696;
}
.icon-selected{
    padding-left: 30px;
    color: #969696;
}
.setting-la div{
    padding-left: 0;
    color: #c8c8c8;
    font-size: 16px;
}
.setting-save{
    border-radius: 40%;
    background-color: #3db922;
    color: #fff;
    width: 100px;
    margin: 30px 0 60px;
    border-radius: 20px;
    border: none;
}